@import '../../styles/variables';

.movie-details {
  height: 100%;
  min-height: 400px;
  padding: 70px 20px 20px;
  background-color: $item-background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: $item-background-color;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  &__close {
    position: absolute;
    top: 10px;
    right: 30px;
    background: none;
    border: none;
    font-size: 24px;
    color: $text-color;
    cursor: pointer;
    color: $primary-color;
    z-index: 1;
  }
  
  &__poster {
    width: 350px;
    height: auto;
    object-fit: cover;
  }
  
  &__info {
    padding: 20px;
    flex: 1;
  }
  
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $text-color;
  }
  
  &__genres,
  &__release-date,
  &__runtime,
  &__rating {
    font-size: 14px;
    margin-bottom: 8px;
    color: $text-color;
  }
  
  &__overview {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: $text-color;
  }
}