
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 35px;
    font-family: Arial, sans-serif;
    font-size: $font-size-medium;
    color: $text-color;
    background-color: $page-background-color;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $primary-color;

    // &:hover {
        // color: $hover-color;
    // }
}